WEB-INF/classes/MainControllerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://webservice.onzeer.univavignon.fr/" name="MainControllerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://webservice.onzeer.univavignon.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.onzeer.univavignon.fr/" schemaLocation="MainControllerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="startStreaming">
    <part name="parameters" element="tns:startStreaming"/>
  </message>
  <message name="startStreamingResponse">
    <part name="parameters" element="tns:startStreamingResponse"/>
  </message>
  <message name="MalformedURLException">
    <part name="fault" element="tns:MalformedURLException"/>
  </message>
  <message name="getAudioFile">
    <part name="parameters" element="tns:getAudioFile"/>
  </message>
  <message name="getAudioFileResponse">
    <part name="parameters" element="tns:getAudioFileResponse"/>
  </message>
  <portType name="onzeer">
    <operation name="startStreaming">
      <input wsam:Action="http://webservice.onzeer.univavignon.fr/onzeer/startStreamingRequest" message="tns:startStreaming"/>
      <output wsam:Action="http://webservice.onzeer.univavignon.fr/onzeer/startStreamingResponse" message="tns:startStreamingResponse"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://webservice.onzeer.univavignon.fr/onzeer/startStreaming/Fault/MalformedURLException"/>
    </operation>
    <operation name="getAudioFile">
      <input wsam:Action="http://webservice.onzeer.univavignon.fr/onzeer/getAudioFileRequest" message="tns:getAudioFile"/>
      <output wsam:Action="http://webservice.onzeer.univavignon.fr/onzeer/getAudioFileResponse" message="tns:getAudioFileResponse"/>
    </operation>
  </portType>
  <binding name="onzeerPortBinding" type="tns:onzeer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="startStreaming">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAudioFile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MainControllerService">
    <port name="onzeerPort" binding="tns:onzeerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

